<% @properties.each do |property| %>
    <div class="w-56 mx-4 rounded-lg shadow-2xl">
        <% if property.cover_photo.attached? %>
            <%= image_tag property.cover_photo, class:"h-48 w-full rounded-t-lg object-cover object-center" %>
        <% end %>
        <%= link_to property.name, property %>
        <%= property.address %>
        <%= property.price %>
        <%= property.rooms %>
        <%= property.bathrooms %>
    </div>
<% end %>