<p id="notice"><%= notice %></p>
<% if @property.cover_photo.attached? %>
    <%= image_tag @property.cover_photo, class:"h-48 w-full rounded-t-lg object-cover object-center" %>
<% end %>
<div class="flex">
  <div class="flex-grow">
    <p>
      <strong>Name:</strong>
      <%= @property.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @property.address %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @property.price %>
    </p>

    <p>
      <strong>Rooms:</strong>
      <%= @property.rooms %>
    </p>

    <p>
      <strong>Bathrooms:</strong>
      <%= @property.bathrooms %>
    </p>
    
  </div>
  <div>
  <%= render 'agent_details' %>
  </div>
</div>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
